[submodule "submodules/matlab2tikz"]
	path = submodules/matlab2tikz
	url = https://github.com/e0404/matlab2tikz.git
	branch = dev
[submodule "submodules/latexTable"]
	path = submodules/latexTable
	url = https://github.com/e0404/latexTable.git
	branch = dev
[submodule "submodules/MCsquare"]
	path = submodules/MCsquare
	url = https://github.com/e0404/MCsquare.git
; ompMC is licensed under the GPL and is therefore neither shipped with matRad
; nor tracked on a branch. The gitlink is pinned to the release tag matRad is
; built against, see thirdParty/ompMC/matRad_installOmpMC.m
[submodule "submodules/ompMC"]
	path = submodules/ompMC
	url = https://github.com/e0404/ompMC
[submodule "submodules/MOxUnit"]
	path = submodules/MOxUnit
    url = https://github.com/e0404/MOxUnit
    branch = matRad
[submodule "submodules/MOcov"]
	path = submodules/MOcov
	url = https://github.com/e0404/MOcov
	branch = matRad
