LungPat.mat
LungPatient1.mat
polarmap.m
basedata/protons_HITfixedBL.mat
basedata/protons_matRadBDL.mat
basedata/protons_matRadBDLfixed.mat
basedata/protons_matRadBDLold.mat
phantoms/BOXPHANTOM_NARROW_NEW.mat
phantoms/BOXPHANTOMv2.mat
phantoms/BOXPHANTOMv3.mat
phantoms/PHANTOM_all.mat
phantoms/PHANTOM_control.mat
phantoms/PHANTOM_fineSamplingTest.mat
phantoms/PHANTOM_hetSlab_entrance_10mm.mat
phantoms/PHANTOM_hetSlab_entrance_10mm_222.mat
phantoms/PHANTOM_hetSlab_entrance_30mm.mat
phantoms/PHANTOM_peakTest.mat
phantoms/PHANTOM_slab_entrance_100mm.mat
phantoms/PHANTOM_slab_entrance_100mm_222.mat
phantoms/PHANTOM_slab_entrance_10mm.mat
phantoms/PHANTOM_slab_entrance_10mm_222.mat
phantoms/PHANTOM_slab_entrance_50mm.mat
phantoms/PHANTOM_slab_mid_10mm.mat
phantoms/PHANTOM_wedge_entrance_100mm.mat
phantoms/PHANTOM_wedge_entrance_30mm.mat
phantoms/PHANTOM_wedge_mid_30mm.mat
phantoms/SchaffnerPhantom1.mat
phantoms/slabPhantom1.mat
phantoms/slabPhantom2.mat
phantoms/slabPhantom3.mat
phantoms/slabPhantom4.mat
phantoms/slabPhantom5.mat
phantoms/slabPhantom6.mat
basedata/protons_generic_TOPAS_cropped.mat
basedata/protons_matRadBDL_APM.mat
basedata/protons_matRadBDLcorrected.mat
phantoms/slabPhantom7.mat
calculatingWeights.asv
.gitignore
*.asv
