[submodule "submodules/matlab2tikz"]
	path = submodules/matlab2tikz
	url = https://github.com/e0404/matlab2tikz.git
	branch = dev
[submodule "submodules/latexTable"]
	path = submodules/latexTable
	url = https://github.com/e0404/latexTable.git
	branch = dev
[submodule "submodules/MCsquare"]
	path = submodules/MCsquare
	url = https://github.com/e0404/MCsquare.git
[submodule "submodules/ompMC"]
	path = submodules/ompMC
	url = https://github.com/e0404/ompMC
	branch = dev_parallel
